body{
    height: 99vh;
    width: 99vw;
    background-color: #b1ffb5;
    position: relative;
    border: white solid 1px ;
    margin: 5px auto;
    overflow: hidden;
}
.gamedisplay{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
#message{
    text-align: center;
}
#sub{
    position: absolute;
    bottom: 300px;
    width: 100%;
    background-color: gray;
    overflow: auto;
    max-height: 200px;
}
.controlls{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    left: 0;
}

.playerBox{
    background-color: aqua;
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.playerBoxInfo{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-around;
}

.box1{
    width: 100px;
    height: 20vh;
}
.box2{
    width: 100px;
    height: 20vh;
}
